#parse("/velocity/layout.vm")
#@mainLayout()
<h1>Agents</h1>
<div class="row row-3">
    #foreach($agent in $agents)
        <div class="row">
            <a class="agent" href="/agent/$agent.id">
                Name: $agent.name
                <br>
                Office ID: $agent.office
                <br>
                El Telephono: $agent.telephone
            </a>
        </div>
    #end
</div>
#end
