#parse("/velocity/layout.vm")
#@mainLayout()
    #if($agent)
        <h1>Hello, $agent.name</h1>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light is-medium">Office</span>
                    <span class="tag is-info is-medium">$agent.office</span>
                </div>
            </div>

            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light is-medium">Phone</span>
                    <span class="tag is-info is-medium">($agent.telephone.substring(0,3)) $agent.telephone.substring(3,6)-$agent.telephone.substring(6,10)</span>
                </div>
            </div>

            #if($agent.address)
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light is-medium">Address</span>
                    <span class="tag is-info is-medium">$agent.address</span>
                </div>
            </div>
            #end

            #if($agent.salary)
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-light is-medium">Salary</span>
                    <span class="tag is-info is-medium">#[[$]]#$agent.salary</span>
                </div>
            </div>
            #end
        </div>

        <h2>Your Previous Sales</h2>
        #parse("/velocity/sales.vm")

    <h2>Your Active Listings</h2>
    <div class="property-list">
        #parse("/velocity/listings.vm")
    </div>
    #else
        <h1>Agent not found</h1>
    #end
#end
