#parse("/velocity/layout.vm")
#@mainLayout()
    <h1>Management</h1>
    <div>
        <form ic-post-to="/manage" ic-target="#manage-results-container" onsubmit="return false;">
            <!-- office and agent -->
            <div class="columns">
                <div class="column">
                    <div class="select is-fullwidth">
                        <select name="office" onchange="document.getElementById('management-submit-button').click();">
                            <option value="">Select an office</option>
                            #foreach($office in $offices)
                                <option value="$office.id">$office.name</option>
                            #end
                        </select>
                    </div>
                </div>
                <div class="column">
                    <div class="select is-fullwidth">
                        <select name="agent" onchange="document.getElementById('management-submit-button').click();">
                            <option value="">Select an agent</option>
                            #foreach($agent in $agents)
                                <option value="$agent.agent_id">$agent.agent_name</option>
                            #end
                        </select>
                    </div>
                </div>
            </div>
            <!-- Submit -->
            <div class="field" style="visibility: hidden; height: 0; width: 0;">
                <p class="control">
                    <button id="management-submit-button" class="button is-info" type="submit">Get Data</button>
                </p>
            </div>
        </form>
    </div>
    <div id="manage-results-container">
        #parse("/velocity/manage/metrics.vm")
    </div>
#end
