#macro(mainLayout)
<html>
<head>
    <title>Housify</title>
    <link rel="stylesheet" href="/styles/bulma.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/intercooler-1.2.1.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo left has-text-info">Housify</div>
                <a href="/agent" class="button is-info is-outlined"><span>Agents</span></a>
                <a href="/search" class="button is-info is-outlined"><span>Search</span></a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="content">
                $bodyContent
            </div>
        </div>
    </main>
</body>
</html>
#end
