#if($listings && !$listings.isEmpty())
<div class="row row-3">
    <div class="property-list">
        #foreach($listing in $listings)
        <span class="property-item">
            <div class="property-item-content">
                <span class="property-item-left">
                    <span class="address">$listing.address</span>
                </span>
                <span class="agent-item-right">
                    <div class="tags">
                        <span class="tag is-link">$listing.price</span>
                        <span class="tag is-link">$listing.date</span>
                    </div>
                </span>
            </div>
            <!-- Atributes -->
            <div class="property-item-details">
                <span class="property-item-left">Seller: $listing.seller</span>
                <span class="agent-item-right">
                    <div class="tags">
                        <span class="tag is-light">$listing.numbeds beds</span>
                        <span class="tag is-light">$listing.numbaths baths</span>
                        <span class="tag is-light">$listing.yearbuilt</span>
                        <span class="tag is-light">$listing.squarefootage sq. ft.</span>
                    </div>
                </span>
            </div>
        </span>
        #end
    </div>
</div>
#else
There are no active listings at this time
#end
